# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution/packaging
build/
dist/
*.egg-info/


experimenting/**

.idea
.cache
.vscode
.history
.venv

silvera/generator/src-gen/*
!silvera/generator/src-gen/.gitkeep

tests/examples/schematic/src-gen/*
!tests/examples/schematic/src-gen/.gitkeep

tests/examples/async/src-gen/*
!tests/examples/async/src-gen/.gitkeep

tests/examples/messaging/src-gen/*
!tests/examples/messaging/src-gen/.gitkeep

tests/examples/openapi/example/openapi.json

# pyenv file
.python-version

# MkDocs
site/