# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


experimenting/**

.idea
.cache
.vscode

silvera/generator/src-gen/*
!silvera/generator/src-gen/.gitkeep

tests/examples/schematic/src-gen/*
!tests/examples/schematic/src-gen/.gitkeep

tests/examples/async/src-gen/*
!tests/examples/async/src-gen/.gitkeep

tests/examples/messaging/src-gen/*
!tests/examples/messaging/src-gen/.gitkeep

# pyenv file
.python-version