REM script for running the application

call mvn clean
@echo on

call mvn package
@echo on

java -jar --add-opens java.base/java.lang=ALL-UNNAMED target\{{name}}-{{version}}-SNAPSHOT.jar --PORT={{port}}