spring.application.name={{service_name}}
spring.cloud.config.uri={{config_server_uri}}
eureka.client.serviceUrl.defaultZone={{service_registry_url}}
server.port={{service_port}}
security.basic.enable=false
management.security.enabled=false

{% if database.type == "mongodb" %}
spring.data.mongodb.database={{database.name}}
spring.data.mongodb.port={{database.port}}
spring.data.mongodb.host={{database.url}}
{% endif %}