package com.silvera.{{service_name}}.domain.model;

public class {{name}} {

    {% for attr in attributes %}
    private {{attr.type|converttype}} {{attr.name}};
    {%- endfor %}



    {%- for attr in attributes %}
    public {{attr.type|converttype}} get{{attr.name|firstupper}}() {
        return this.{{attr.name}};
    }

    public void set{{attr.name|firstupper}}({{attr.type|converttype}} {{attr.name}}) {
        this.{{attr.name}} = {{attr.name}};
    }
    {% endfor %}

}
